body {
    display: flex;
    background-color: #000000;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: Arial, sans-serif;
}

a:link {
  color: gold; /* Color for unvisited link */
  text-decoration: none; /* Optional: remove underline */
}

a:visited {
  color: gold; /* Color for visited link */
  text-decoration: none; /* Optional: remove underline */
}

a:hover {
  color: salmon; /* Color when the mouse hovers over the link */
  text-decoration: underline; /* Optional: underline on hover */
}

a:active {
  color: red; /* Color when the link is being clicked */
  text-decoration: none; /* Optional: remove underline when clicked */
}

hr {
  width: 100vw; /* Ensure the <hr> spans the entire viewport width */
  height: 1px;  /* Set height of the <hr> */
  border: none; /* Remove default border */
  background-color: #444444; /* Set the color of the line */
  margin: 20px 0; /* Optional: Adjust the space around the <hr> */
}

.blog-header{
    height: 40px;
    width: 80%;
    display:flex;
    gap:0px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.blog-header-text{
    height: fit-content;
    width: fit-content;
    display:flex;
    margin-left: 0px;
    flex-direction: row;
    flex-direction: column;
    text-align: left;
    font-size: 1em;
    color: #ffffff;
}

.blog-header-text-title{
    font-size: 1;
    font-family: "Garamond", serif;
    color: gold;
    margin-top: 22px;
}

.subtitle{
    margin-top: -10px;
    font-size: 0.8em;
    color: #dddddd;
}

.button-style {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: white;
    color: black;
    border: 1px black solid;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8em;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.button-style:hover {
    border: 1px blue solid;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8em;
    margin: 4px 2px;
    cursor: pointer;
}

.text-style {
    padding: 20px;
    margin-top: 20px;
    /* border: 2px solid #ccc; */
    /* border-radius: 5px; */
    display: block;
    text-align: center;
    color: black;
    /* background-color: #f9f9f9; */
}

.hidden {
    display: none;
}

.blog-post-head{
    height:5px;
    text-align: center;
    font-size: 1em;
    color: gold;
    background-color: #000000;
    display:flex;
    width: 80vw;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.blog-post-head h2{
    font-size: 1.5em;
    font-family: "Garamond", serif;
    color: gold;
}

.blog-post-body{
    color: #eeeeee;
    background-color: #000000;
    margin-left: 20%;
    margin-right: 20%;
}